# Terraform working directory
**/.terraform/*
.terraform
# Terraform state
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Variable files
 
 

# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration
.terraformrc
terraform.rc